header, aside, article, footer{
  color: black;
  float: left;
}

h1, h2, p {

  margin: 2.5%;
}

#container {
  font-family: helvetica;
    background-color: #ffffff;
    width: 960px;
    height: 500px;
    margin: 0 auto;
}

header {
    background-color: green;
    width: 100%;
}

aside {
    background-color: yellow;
    clear:left;
    width: 20%;
}

article {
    background-color:orange;
    width: 80%;
    height: 400px;
}

footer{
    background-color:red;
    width: 100%;
}
@media screen and (max-width: 960px) {
body { margin: 0;
}
#container {
width: 100%;
}
}
@media screen and (max-width: 600px) {
header, aside, article, footer {
float: none;width: 100%;padding: 15px 0 15px 0;
}
}